// Global selectors
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: darkorange;
}

.canvas {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    position: fixed;
    top: 0;
}